body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 40px;
}
nav {
    background-color: rgba(255, 255, 255, 0.726);
    font-size: x-large;
    margin-inline: 500px;
    display: flex;
    justify-content: space-between;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
article {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14pt;
}
ul {
  list-style: none;   /* removes bullets */
  padding: 0;
  text-align: center;
}
p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.homeaboutfigure {
  max-width: 1000px; /* responsive */
  margin: 0 auto;
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
img {
  width: 100%;          /* makes images fit grid */
  height: auto;
  display: block;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers everything */
  margin: 0;            /* removes default browser margin */
  text-align: center;
}
figcaption  {
    font-style: italic;
    line-height: 1;
}
.message {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  text-indent: 50px;
}
table {
  border-collapse: collapse;
  width: 80%;        /* or any width less than 100% */
  margin: 20px auto;
  table-layout: fixed;
}
th, td {
  border: 1px solid #ccc; /* softer than pure black */
  padding: 20px;
}
th {
  background-color: black; /* header row highlight */
  text-align: left;
}
td {
  width: 50%;
  padding: 10px;
}